doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Sports.
    meta(name="description", content="Animated Sport Landing Page")
  body
    section
      nav
        h3 Sports.
        .social
          i.fab.fa-twitter-square
          i.fab.fa-instagram
          i.fab.fa-facebook-square
      .container
        .cover
        .sports
          .sports__bg
          p.sports__text
            | Sports event 
            span 2019
          img(src=require("./img/player.png"), alt="player").sports__player
          .sports__details
            a(href="#") Details
      .event
        .event__blue
        .event__content
          h1.event__details Event details
          .event__card
            h2 Add whatever title
            p This is awesome description.


