mixin facebook-icon(iclass)
  svg#facebook-square(class=`${iclass}` width='44px' height='44px' viewbox='0 0 44 44')
    g(fill='#000000' fill-rule='nonzero')
      path#Path(d='M44,4.71428571 L44,39.2857143 C44,41.8883929 41.8883929,44 39.2857143,44 L30.9080357,44 L30.9080357,26.5964286 L36.8598214,26.5964286 L37.7142857,19.9571429 L30.9080357,19.9571429 L30.9080357,15.7142857 C30.9080357,13.7892857 31.4383929,12.4830357 34.1982143,12.4830357 L37.7142857,12.4830357 L37.7142857,6.55089286 C37.1053571,6.47232143 35.0232143,6.28571429 32.5875,6.28571429 C27.5196429,6.28571429 24.0428571,9.37946429 24.0428571,15.0660714 L24.0428571,19.9669643 L18.0714286,19.9669643 L18.0714286,26.60625 L24.0526786,26.60625 L24.0526786,44 L4.71428571,44 C2.11160714,44 0,41.8883929 0,39.2857143 L0,4.71428571 C0,2.11160714 2.11160714,0 4.71428571,0 L39.2857143,0 C41.8883929,0 44,2.11160714 44,4.71428571 Z')
